{% extends "CoreBundle:MonColloque:layout-nomenu.html.twig" %}

{% block title %}
    Nouveau mot de passe - {{ parent() }}
{% endblock %}

{% block MonColloque_content %}
    <div class="bloc">
        <h1 class="text-center">Nouveau mot de passe</h1>

        {% set flash = app.session.flashbag.get('success') %}
        {% if flash|length == 0 %}

            <p class="text-center">
                Entre ci-dessous ton nouveau mot de passe pour pouvoir te connecter.
            </p>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {{ form_start(form, {
                        'attr': {
                            'class': 'form-horizontal'
                        }
                    }) }}
                    {% if(form_errors(form.password.first)) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.password.first) }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form_label(form.password.first, null, {
                            'label_attr': {
                                'class': 'col-sm-3 control-label'
                            }
                        }) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.password.first, {
                                'attr': {
                                    'placeholder': 'Nouveau mot de passe',
                                    'class': 'form-control'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.second, null, {
                            'label_attr': {
                                'class': 'col-sm-3 control-label'
                            }
                        }) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.password.second, {
                                'attr': {
                                    'placeholder': 'Confirmation nouveau mot de passe',
                                    'class': 'form-control'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="text-center">
                        {{ form_widget(form.submit, {
                            'attr': {
                                'class': 'btn btn-primary'
                            }
                        }) }}
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>


        {% else %}
            {% for label, messsage in flash %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="alert alert-success">
                            {{ messsage }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}