{% extends "CoreBundle:MonColloque:layout-menu.html.twig" %}

{% block title %}
    Choisir une chambre - {{ parent() }}
{% endblock %}

{% block MonColloque_content %}
    <div class="bloc">
        <div class="row">
            <div class="col-lg-12">
                <h1>Choisi une chambre</h1>
                <p>
                    Il est temps pour toi de choisir une chambre <strong>avant le 11/01/2016</strong>, voici plusieurs
                    informations pour faire ton choix :
                </p>
                <ul>
                    <li>Les chambres avec balcon sont vivement conseillées aux fumeurs, <strong>il est catégoriquement
                            interdit de f○umer dans les chambres</strong>. Une femme de ménage passera chaque jour pour
                        vérifier qu'il n'y ait aucune odeur de cigarette dans les chambre et que les détecteurs de fumée
                        ne soit pas calfeutré.
                    </li>
                    <li>Les chambres avec un <strong>fond orangé</strong> sont des chambres proches du Salon Bar et
                        proche du bruit. Elles sont conseillées aux fétards, couche-tard ou aux gros dormeurs à qui le
                        bruit ne dérange pas.
                    </li>
                    <li>Une femme de ménage passera chaque jour pour nettoyer les sanitaires des chambres.</li>
                    <li>Le linge de lit est fourni.</li>
                    <li>Le linge de toilette n'est pas fourni, pense à apporter tes serviettes.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% for chambre in chambres %}
                {% set placesDispo = chambre.capacite - chambre.placesOccupees %}
                <div class="col-lg-6">
                    <div class="chambre {% if chambre.festive %}festive{% endif %}">
                        <h3><span class="pull-left">{{ chambre.numero }}</span>
                            <small class="pull-right">{{ chambre.nom }}</small>
                        </h3>
                        <div class="clearfix"></div>
                        <br>

                        <ul class="list-unstyled">
                            <li><strong>Place{% if placesDispo > 1 %}s{% endif %}
                                    disponible{% if placesDispo > 1 %}s{% endif %} :</strong> {{ placesDispo }}
                                <small>/{{ chambre.capacite }}</small>
                            </li>
                            <li><strong>Balcon</strong> : {% if chambre.balcon %}Oui{% else %}Non{% endif %}</li>
                            {% if chambre.festive %}
                                <li><strong>Proche du Salon Bar et du bruit.</strong></li>
                            {% endif %}
                        </ul>
                        <p class="text-center">
                            {% if placesDispo > 0 %}
                                <a href="{{ path('core_moncolloque_choosenchambre', {'id': chambre.id}) }}"
                                   class="btn btn-success">Choisir cette chambre</a>
                            {% else %}
                                <btn class="btn btn-danger disabled">Plus de place disponible</btn>
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% if loop.index is divisible by(2) %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}